/* components/ItemList.css */

.list-container {
  text-align: center;
  padding: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list-title {
  font-size: 24px;
  color: #333;
  flex-grow: 1; /* Allow the title to grow and center */
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
}

.action-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.action-button:hover {
  background-color: #0056b3;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.view-details-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.view-details-button:hover {
  background-color: #0056b3;
}